/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }
  @media (max-width: 64em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 48em) {
    html {
      font-size: 50%; } }
  @media (max-width: 22.5em) {
    html {
      font-size: 43.75%; } }
  @media (min-width: 85.375em) {
    html {
      font-size: 75%; } }

body {
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-weight: 300; }

main {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("https://source.unsplash.com/YsoS7vH3x_I");
  background-size: cover;
  background-position: top; }
  main::after {
    content: "";
    display: table;
    clear: both; }

.container {
  width: 85vw;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0.2rem solid #fff;
  padding: 4rem 6rem 2.5rem; }
  @media (max-width: 22.5em) {
    .container {
      height: 95rem; } }

.quote-box {
  font-size: 3rem; }
  .quote-box__text {
    position: relative;
    min-height: 20rem;
    text-align: center; }
  .quote-box__author {
    font-weight: 100;
    display: block;
    text-align: center;
    margin-top: 3rem; }

#quote-text {
  position: relative;
  width: 100%;
  display: block; }
  #quote-text:before {
    content: '\201C';
    font-size: 12rem;
    display: block;
    position: absolute;
    top: -4rem;
    left: -4rem; }
  #quote-text:after {
    content: '\201E';
    font-size: 12rem;
    display: block;
    position: absolute;
    bottom: -4rem;
    right: -4rem; }

.panel {
  text-align: center;
  margin-top: 3rem; }

.btn {
  color: #fff; }
  .btn:link, .btn:visited {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 4rem;
    width: 10rem;
    transition: ease color .3s; }
  .btn__text {
    opacity: 0;
    visibility: hidden;
    display: block;
    font-size: 1.5rem;
    font-weight: 300;
    transition: ease opacity .3s, ease visibility .3s; }
  .btn:hover .btn__text {
    opacity: 1;
    visibility: visible; }
  .btn--tweet:hover, .btn--tweet:active {
    color: #1da1f2; }
  .btn--new-quote:hover, .btn--new-quote:active {
    color: #27ae60; }

.footer {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  color: #636e72;
  font-size: 1.1rem; }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    color: #636e72; }
  .footer__link:hover, .footer__link:active {
    color: #ccc; }
