// Variables
$color-white: #fff;
$color-black: #000;
$color-twitter: #1da1f2;
$color-new-quote: #27ae60;
$color-grey: #636e72;
$color-grey-light: #ccc;

// Breakpoints
/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 22.5em) { @content };    //360px
    }
    @if $breakpoint == tablet {
        @media (max-width: 48em) { @content };   //768px
    }
    @if $breakpoint == laptop {
        @media (max-width: 64em) { @content };      //1024px
    }
    @if $breakpoint == desktop {
        @media (min-width: 85.375em) { @content };   //1366px
    }
}

@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;       //62.5% * 16px = 10px

    @include respond(laptop) {    // width <= 1024px?
        font-size: 56.25%;  // 1rem = 9px, 9/16 = 56,25%
    }
    @include respond(tablet) {    // width <= 768px?
        font-size: 50%;     // 1rem = 8px, 8/16 = 50%
    }
    @include respond(phone) {       // width <= 360px?
        font-size: 43.75%;   // 1rem = 7px, 7/16 = 43,75%
    }
    @include respond(desktop) { // width >= 1366px?
        font-size: 75%;     // 1rem = 12px, 12/16 = 75%
    }
}

body {
    font-family: 'Lato', sans-serif;
    color: $color-white;
    font-weight: 300;
}

main {
    @include clearfix;
    position: relative;
    height: 100vh;
    background-image: linear-gradient(rgba($color-black, .85), rgba($color-black, .85)), url("https://source.unsplash.com/YsoS7vH3x_I");
    background-size: cover;
    background-position: top;
}

.container {
    width: 85vw;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: .2rem solid $color-white;
    padding: 4rem 6rem 2.5rem;

    @include respond(phone) {
        height: 95rem;
    }
}

.quote-box {
    font-size: 3rem;
    &__text {
        position: relative;
        min-height: 20rem;
        text-align: center;
    }
    
    &__author {
        font-weight: 100;
        display: block;
        text-align: center;
        margin-top: 3rem;
    }
}

#quote-text {
    position: relative;
    width: 100%;
    display: block;
    &:before {
            content: '\201C';
            font-size: 12rem;
            display: block;
            position: absolute;
            top: -4rem;
            left: -4rem;
        }
        
        &:after {
            content: '\201E';
            font-size: 12rem;
            display: block;
            position: absolute;
            bottom: -4rem;
            right: -4rem;
        }
}

.panel {
    text-align: center;
    margin-top: 3rem;
}

.btn {
    color: $color-white;
    &:link, &:visited {
        display: inline-block;
        text-align: center;
        text-decoration: none;
        font-size: 4rem;
        width: 10rem;
        transition: ease color .3s;
             
    }

    &__text {
        opacity: 0;
        visibility: hidden;
        display: block;
        font-size: 1.5rem;
        font-weight: 300;
        transition: ease opacity .3s, ease visibility .3s;
    }

    &:hover &__text {
        opacity: 1;
        visibility: visible;
    }

    &--tweet {
        &:hover, &:active {
            color: $color-twitter;
        }
    }

    &--new-quote {
        &:hover, &:active {
            color: $color-new-quote;
        }
    }
}

.footer {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    color: $color-grey;
    font-size: 1.1rem;

    &__link:link, &__link:visited {
        text-decoration: none;
        color: $color-grey;
    }
    
    &__link:hover, &__link:active {
        color: $color-grey-light;
    }
}
