// Variables
$color-white: #fff;
$color-black: #000;
$color-twitter: #1da1f2;
$color-new-quote: #27ae60;
$color-gray: #636e72;

@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; // 10px
}

body {
    font-family: 'Lato', sans-serif;
    color: $color-white;
    font-weight: 300;
}

main {
    @include clearfix;
    position: relative;
    height: 100vh;
    background-image: linear-gradient(rgba($color-black, .85), rgba($color-black, .85)), url("https://source.unsplash.com/O453M2Liufs/1600x900");
    background-size: cover;
    background-position: top;
}

.container {
    width: 80vw;
    text-align: center;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: .2em solid $color-white;
    padding: 4em 6em 1em;
}

.quote-box {
    font-size: 3em;
    &__text {
        position: relative;
        min-height: 6em;
        text-align: center;
        &:before {
            content: '\201C';
            font-size: 4em;
            display: block;
            position: absolute;
            top: -.45em;
            left: -.3em;
        }
        
        &:after {
            content: '\201E';
            font-size: 4em;
            display: block;
            position: absolute;
            bottom: -.3em;
            right: -.3em;
        }
    }
    
    &__author {
        font-weight: 100;
        display: block;
        text-align: center;
        margin-top: 1em;
    }
}
/*

CHANGE ALL THE EM UNITS TO REM UNITS

*/
#quote-text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.panel {
    text-align: center;
    margin-top: 3em;
}

.btn {
    color: $color-white;
    &:link, &:visited {
        display: inline-block;
        text-align: center;
        text-decoration: none;
        font-size: 4em;
        width: 2em;
        &:not(:last-child) {
            margin-right: 0.5em;
        }
        transition: ease color .3s;
             
    }

    &__text {
        opacity: 0;
        visibility: hidden;
        display: block;
        font-size: 1.5rem;
        font-weight: 300;
        transition: ease opacity .3s, ease visibility .3s;
    }

    &:hover &__text {
        opacity: 1;
        visibility: visible;
    }

    &--tweet {
        &:hover, &:active {
            color: $color-twitter;
        }
    }

    &--new-quote {
        &:hover, &:active {
            color: $color-new-quote;
        }
    }
}

footer {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    color: $color-gray;
    font-size: 1.1em;
    & a {
        text-decoration: none;
        color: $color-gray
    }
}
